.mdc-typography
  %h1 Choose your element
  .cards
    .mdc-card.element-card.earth
      .mdc-card__media.mdc-theme--primary-bg.mdc-theme--on-primary
        .mdc-card__media-content
          %h1.mdc-typography--headline4 Earth
          %h2.mdc-typography--headline6 solid decision.
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .mdc-card.element-card.wind
      .mdc-card__media.mdc-theme--primary-bg.mdc-theme--on-primary
        .mdc-card__media-content
          %h1.mdc-typography--headline4 Wind
          %h2.mdc-typography--headline6 Stormy weather ahead.
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .mdc-card.element-card.fire
      .mdc-card__media.mdc-theme--primary-bg.mdc-theme--on-primary
        .mdc-card__media-content
          %h1.mdc-typography--headline4 Fire
          %h2.mdc-typography--headline6 Hot-headed much?
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .mdc-card.element-card.water
      .mdc-card__media.mdc-theme--primary-bg.mdc-theme--on-primary
        .mdc-card__media-content
          %h1.mdc-typography--headline4 Water
          %h2.mdc-typography--headline6 Go with the flow.
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  %button.mdc-fab#demo-absolute-fab{"aria-label": "Favorite"}
    %span.mdc-fab__icon.material-icons favorite
