%h1#heading Top page

#text-change-btn.mdc-button.mdc-button--raised Click me!

= image_pack_tag 'images/test.jpg', class: "img"

.btn-wrapper
  = link_to '文字数カウンター', counter_path, class: 'mdc-button mdc-button--raised'
  = link_to 'ストップウォッチ ', stopwatch_path, class: 'mdc-button mdc-button--unelevated'
