%h1#heading Home#top

%input{type: 'button', value: 'Change Text', name: 'text-change-btn'}
= link_to '文字数カウンター', counter_path, class: 'link'
= link_to 'ストップウォッチ ', stopwatch_path, class: 'link'

= image_pack_tag 'images/test.jpg'
