h1 {
  color: green;
}

textarea {
  width: 400px;
  height: 100px;
  line-height: 1.5em;
  font-size: 15px;
}

#clear-btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;

  &:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
  }
}

.link {
  display: inline-block;
  margin-top: 20px;
}
