// mdcで使われている変数の上書き（@materialをimportする前に宣言する必要あり）
$mdc-theme-primary: #9c27b0;
$mdc-theme-secondary: #76ff03;
$mdc-theme-background: #fff;

@import "~@material/theme/mdc-theme";
@import "~@material/button/mdc-button";
@import "~@material/fab/mdc-fab";
@import "~@material/typography/mdc-typography";
@import "~@material/card/mdc-card";
@import "~@material/ripple/mixins";

// こう書くと反映される
//:root {
//  --mdc-theme-primary: red;
//}

.img {
  display: block;
  height: 300px;
  margin-top: 10px;
}
.btn-wrapper {
  margin-top: 10px;
}

// 以下ドキュメントからのコピペ（テーマガイド）
.cards {
  display: flex;
  flex-wrap: wrap;
}

.element-card {
  width: 20em;
  margin: 16px;
}

.element-card > .mdc-card__media {
  height: 9em;
}

// --mdc-theme-primaryの上書きうまくいかない（Sassだとできない？それともwebpackerとかの設定？）
.element-card.earth {
  --mdc-theme-primary: #795548;
}

.element-card.wind {
  --mdc-theme-primary: #9e9e9e;
}

.element-card.fire {
  --mdc-theme-primary: #f44336;
}

.element-card.water {
  --mdc-theme-primary: #00bcd4;
}

#demo-absolute-fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}
